if [[ -f "$PWD/.envrc.local" ]]; then
  echo using local envrc
  source "$PWD/.envrc.local"
fi

if [[ -z "$SKIP_FLAKE" ]]; then
  echo using flake
  if [[ $(type -t use_flake) != function ]]; then
    echo "ERROR: use_flake function missing."
    echo "Please update direnv to v2.30.0 or later."
  else
    if [[ -n "$NIX_SHELL" ]]; then
      use_flake $NIX_SHELL
    else
      use_flake
    fi
  fi
fi
